{% for service in services %}
<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <div class="card-actions">
        <button type="button" class="card-action card-toggler" title="Collapse"></button>
        <button type="button" class="card-action card-reload" title="Reload"></button>
        <button type="button" class="card-action card-remove" title="Remove"></button>
      </div>
      <strong>{{ service.nom }}</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 m-y">
          <table class="table table-borderless table-fixed">
            <tbody>
              {{ render(url('accueil_rubriques', {'service': service.id}))}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
