{{ form_start(form, {'attr': {'class': 'navbar-search navbar-search-collapsed', 'action': path('recherche_document_form')}}) }}
  <div class="navbar-search-group">
    {{ form_widget(form.libelle)}}
    <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
      <span class="icon icon-search icon-lg"></span>
    </button>
    <button class="navbar-search-adv-btn" type="submit">OK</button>
  </div>
{{ form_end(form)}}
